<div id="comments" class="row">
		<div class="large-9 large-centered columns">
			<h2>Comments</h2>

{{ $comments := readDir "data/comments" }}
{{ $.Scratch.Add "hasComments" 0 }}
{{ $entryId := .UniqueID }}
{{ if eq .UniqueID "" }}
{{ $entryId := "page" }}
{{ end }}

{{ range $comments }}
  {{ if eq .Name $entryId }}
	{{ $.Scratch.Add "hasComments" 1 }}
	{{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}

	<div class="row">
		<div class="large-12 columns">
			<img src="https://www.gravatar.com/avatar/{{ .email }}?s=100" alt="{{ .name }}" style="float:left;margin-right:1em;" />
			<blockquote>
				<p><cite><strong>{{ .name }}</strong> on {{ dateFormat "02/01/2006" .date }}</cite></p>
				<p>{{ .body | markdownify }}</p>
			</blockquote>
		</div>
	</div>
	{{ end }}
  {{ end }}
{{ end }}

{{ if eq ($.Scratch.Get "hasComments") 0 }}
  <!--<p>Hey, be the first who comment this article.</p>-->
{{ end }}
		</div>
</div>