{{ partial "header.html" . }}

{{ partial "logo-small.html" . }}

<div id="body" class="row">
	<div class="large-9 large-centered columns">
		{{ .Content }}
	</div>

	<div id="chapterNav" class="row">
		<div class="large-6 columns">
			{{ if .Next }}
				<a href="{{ .Next.Permalink }}">Previous chapter</a>
			{{ end }}
		</div>
		<div class="large-6 columns">
			{{ if .Prev }}
				<a href="{{ .Prev.Permalink }}">Next chapter</a>
			{{ end }}
		</div>
		<br />
	</div>
</div>

{{ partial "ad-long.html" . }}

{{ partial "disqus-base.html" . }}

{{ partial "footer-copyright.html" . }}

{{ partial "disqus-waking.html" . }}

{{ partial "footer.html" . }}